* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.baner {
  width: 100%;
  height: 100vh;
  background: url("./assets/photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.baner_content{
  display: flex;
  align-items: center;
  height: 100vh;
  color: gainsboro;
}
.container{
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  
}
.baner_text{
  width: 500px;
}
.baner_text h3 {
  font-size: 50px;
}
.baner_text h1{
  font-size: 80px;
  line-height:80px;
  font-weight: 900;
  margin-top: 20px;
}
.baner_text p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
}
.navbar_text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;

}

.logo{
  width: 40%;
}

.navbar_ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navbar_ul li a{
  text-decoration: none;
  color: gainsboro;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 25px;

}
.navbar_ul li a:hover{
  text-decoration: underline;
  color: rgb(255, 69, 79);

}
.baner_btn {
  margin-top: 35px;
}
.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: gainsboro;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}
.btn-smart {
  background-color: rgb(255, 69, 79);
}
.btn-smart:hover{
  background-color: rgb(238, 31, 42) ;
}
.about{
  padding: 80px 0;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6{
  width: 50%;
}
.about h3 {
  color: rgba(37,37,37,0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;

}
.about_img img{
  width: 100%;
  height: 50%;
  /* width: 550px;
  height: 300px;
  overflow: hidden; */
}
.p-25 {
  padding: 45px;
}

.about h1 {
  font-size: 40px;
  color: #252525;
  font-size: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

.about p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 300;
}

.about_btn{
  margin-top: 35px;
}

.shop{
  width: 100%;
  background: url(./assets/photo.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   
}
.shop_text{
  height: 450px;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: start;
  text-align: center;
  /* margin: 0 auto; */
  color: gainsboro;
}
.shop_text h1{
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
}
.shop_btn{
  margin-top: 35px;
  text-align: center;
}
.clients{
  width: 100%;
  padding: 100px 0;
  background: url(./assets/photo.jpg);
  background-repeat: no-repeat;
    background-size: cover;
  color: gainsboro;
  background-attachment: fixed;
}
.col-3{
  width: 25%;
  text-align: center;
}
.client h1 {
  font-size: 45px;
}
.client p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.prices{
  width: 100%;
  padding: 80px 0;
}
.col-4{
  width:33.33333333333333%;
}
.price{
  padding: 20px;
  text-align: center;
}
.price_img{
  width: 100%;
}
.price_img img{
  width: 250px;
  
  
}
.price_heading{
  margin-top: 20px;
  font-size: 25px;
}
.price_text{
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;
}

.price_rs{
  font-size: 30px;
  margin-top: 15px;

}
.footer_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #252525;
  padding: 40px 0;
  color: gainsboro;
  text-align: center;
  line-height: 30px;
  
}
.socials{
  margin-bottom: 15px;
}
.socials a{
  color: gainsboro;
  padding: 15px;
  font-size: 25px;
}
.socials a:hover{
  background-color: #888888;
  padding: 15px;
  border-radius: 50%;
  
}

.mobile_navigation{
  display: none;
}

@media (max-width: 1200px){
.navbar_text {

    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }



  .navbar_ul {
    width: auto;
  }

  .navbar_ul li {
    padding: 5px;

  }

  .navbar_ul li a {
    text-transform: none;
    font-weight: 800;
      text-transform: uppercase;
      font-size: 25px;
      padding: 10px;
  }

  .container {
    width: 100%;
    padding: 0 30px;
  }

  .baner_text {
    width: auto;
  }

  .baner_text h3 {
    font-size: 25px !important;
  }

  .baner_text h1 {
    font-size: 50px;
    line-height: 80px;
    font-weight: 900;
    margin-top: 20px;
  }

  .baner_text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }

  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }

  .client {
    margin: 20px 0;
  }

  .shop_text {
    width: auto;
  }
}

@media (max-width: 990px){
  .navigation{
    display: none;
  }
  .mobile_navigation{
    display: flex;
    align-items: center;
    
  }
  .hamburger{
    position: absolute;
    margin-top: 6%;
    right: 5%;
    cursor: pointer;
  }

  .close{
    position: absolute;
      margin-top: 5%;
      right: 5%;
      cursor: pointer;
  }
  .navbar_text{
    display: flex;
      height: auto;
      flex-direction: column;
      align-items: center;
      /* margin-top: 20px; */
      width: 100%;
    background-color: #181818;
    opacity: 0.9;
    /* height: 260px; */
  }
  .navbar{
    
    
    
  }
  .navbar ul{
    display: flex;
   flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #181818;
      opacity: 0.9;
    border-top: 2px solid white;

  }
    .navbar_ul li {
      padding: 5px;
  
    }

    .navbar_ul li a {
     text-transform: none;
      font-weight: 500;
      font-size: 20px;
    }
    .navbar_ul li a:hover{
      text-decoration: underline;
    }
}

@media (max-width: 700px) {
  .navbar_text {
    
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        background-color: #181818;
        opacity: 0.9;
        /* height: 260px; */
      }

  

  .navbar_ul {
    width: auto;
  }

  .navbar_ul li {
    padding: 5px;

  }

  .navbar_ul li a {
    text-transform: none;
    font-weight: 500;
    font-size: 20px;
  }

  .container {
    width: 100%;
    padding: 0 30px;
  }

  .baner_text {
    width: auto;
  }

  .baner_text h3 {
    font-size: 25px !important;
  }

  .baner_text h1 {
    font-size: 50px;
    line-height: 80px;
    font-weight: 900;
    margin-top: 20px;
  }

  .baner_text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }

  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }

  .client {
    margin: 20px 0;
  }

  .shop_text {
    width: auto;
  }
}




